html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Globales */
a {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #e04926;
}
body {
  background-image: url(../src/fondo-blog.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
/* #region header */
.header-site {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 0.6rem;
}

/* Logo */
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo a {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  text-align: left;
  color: #c03ce1;
}
.header-title {
  animation: Left 1s ease-in;
}
.up {
  animation: Up 1s ease-in;
}
.down {
  animation: Down 1s ease-in;
}
.logo img {
  margin: 0 2rem;
  width: 9rem;
  border-radius: 5rem;
  animation: Right 1s ease-in;
}

/* Navegacion */
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.header-nav a {
  padding: 1rem;
  transition: 0.2s ease-in;
}
.header-nav a:hover {
  border-bottom: 0.4rem solid #26e09e;
  transform: scale(1.15);
}
/* Menu Mobile */
.menu-mobile {
  display: none;
}
/* Responsivas */
@media screen and (max-width: 925px) {
  .header-nav {
    margin-bottom: 1rem;
  }
  .logo{
    justify-content: center;
  }
  .header-site {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax( min-content, max-content );
  }
}
@media screen and (max-width: 430px){
  .header-nav a{
    padding: .4rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px){
  .header-nav{
    flex-direction: column;
  }
  .header-nav a{
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }
  .uno {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
/* #endregion */

/* #region Body Index */
.body-index {
  background-image: url(../src/galeria-dieciseis.jpeg);
  background-position: center center;
  background-size: cover;
}
.contenido-index {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container-home h2 {
  margin: 20% auto;
  color: #c03ce1;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 7rem;
  animation: Aparecer 1s ease-in;
}
.button-home a {
  background: #26e09e;
  border: 0.1rem solid #26e09e;
  border-radius: 1.5rem;
  padding: 0.6rem 1.6rem;
  font-weight: 700;
  color: #1b1ec9;
  animation: Aparecer 1s ease-in;
}
/* Responsivas */
@media screen and (max-width: 840px) {
  .container-home h2 {
    width: 80%;
    font-size: 3rem;
    /* margin: auto; */
  }
}
/* #endregion */

/* #region Body Index-Dos */
.entrada-index {
  font-family: "Roboto", sans-serif;
  padding: 10rem 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #e8472e;
}
.entrada-index h2 {
  font-size: 4rem;
  font-weight: 700;
  animation: Chico 1s ease-in;
}
.entrada-index p {
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #5b2ee8;
  animation: Grande 1s ease-in;
}
/* Responsivas */
@media screen and (max-width: 520px){
  .entrada-index h2 {
    font-size: 3rem;
  }
  .entrada-index p{
    line-height: 2.3rem;
  }
  .entrada-index {
    padding: 7rem 7rem 0 7rem;
  }
}
@media screen and (max-width: 430px) {
  .entrada-index {
    padding: 3rem 3rem 0 3rem;
  }
}
@media screen and (max-width: 320px) {
  .entrada-index {
    padding: 1rem 1rem 0 1rem;
  }
  .entrada-index h2 {
    font-size: 2.5rem;
  }
  .entrada-index p{
    font-size: 1.7rem;
  }
}
/* #endregion */

/* #region Dedicatorias (Blog) */
.main-blog {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entradas {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.right.entradas {
  justify-content: flex-end;
}
.entradas img {
  width: auto;
  height: 25rem;
  border-radius: 2rem;
}
.entradas p {
  margin: 1.5rem;
  color: #8e2991;
  font-weight: 700;
}
.right p {
  width: 40rem;
  text-align: right;
}
.left {
  animation: Left 1s ease-in;
}
.right {
  animation: Right 1s ease-in;
}
/* Responsivas */
@media screen and (max-width: 980px){
  .entradas{
    width: 70%;
  }
}
@media screen and (max-width: 830px){
  .entradas{
    width: 80%;
  }
  .entradas img{
    height: 20rem;
  }
}
@media screen and (max-width: 640px){
  .entradas{
    width: 85%;
  }
  .entradas img{
    height: 18rem;
  }
  .entradas p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 490px){
  .main-blog{
    padding: 0;
  }
  .entradas {
    width: 95%;
  }
  .entradas img {
    height: 15rem;
  }
  .entradas p{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 370px){
  .entradas {
    width: 100%
  }
  .entradas img{
    height: 12rem;
  }
  .entradas p{
    font-size: 1.2rem;
  }
}
/* #endregion */

/* #region Galería */
.body-galeria {
  padding: 0 10%;
}
.body-galeria h2 {
  font-size: 6rem;
  color: #8e2991;
  text-align: center;
  animation: Chico 1s ease-in;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.galeria img {
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  transition: 0.8s ease;
  animation: Grande 1s ease-in;
}
.galeria img:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  overflow: hidden;
  cursor: pointer;
}
/* Responsivas */
@media (max-width: 970px) {
  .body-galeria h2 {
    font-size: 5rem;
  }
  .galeria img {
    height: 27rem;
  }
}
@media (max-width: 870px) {
  .body-galeria h2 {
    font-size: 4rem;
  }
  .galeria img {
    height: 24rem;
  }
}
@media (max-width: 800px) {
  .galeria img {
    height: 22rem;
  }
}
@media (max-width: 665px) {
  .body-galeria h2 {
    font-size: 3rem;
  }
  .galeria img {
    height: 18rem;
  }
}
@media (max-width: 540px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  .body-galeria {
    padding: 0 5%;
  }
}
@media (max-width: 390px) {
  .body-galeria h2 {
    font-size: 2.5rem;
  }
  .galeria img {
    height: 15rem;
  }
}
@media (max-width: 340px) {
  .galeria img {
    height: 12rem;
  }
}
/* #endregion */

/* #region Animaciones */
@keyframes Up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }
}
@keyframes Down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes Left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes Aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Grande {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(0);
  }
}
@keyframes Chico {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(2);
  }
}
/* #endregion */
